<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity6>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Projects</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Projects
			</div>
			<div class="card-body">

				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Projects</th>
						<th>Nom Client</th>
						<th>date Debut</th>
						<th>montant Projects</th>
						<th>Departement</th>
					</tr>
					<tr th:each="p:${projects.content}">
						<td th:text="${p.idProject}"></td>
						<td th:text="${p.nomProject}"></td>
						<td th:text="${p.nomClient}"></td>
						<td th:text="${p.dateDeb}"></td>
						<td th:text="${p.montantProject}"></td>
						<td th:if= "${!#strings.isEmpty(p.departement)}" th:text="${p.departement.nomDep}"></td>
						 <td th:if= "${#strings.isEmpty(p.departement)}" th:text="${'Pas de Departement'}"></td>
						<td><a onclick="return confirm('vous etes sur de supprimer ce project ?')"
								class="btn btn-danger" sec:authorize="hasAuthority('ADMIN')" th:href="@{supprimerProject(id=${p.idProject},
 page=${currentPage},size=${size})}">Supprimer</a></td>
 <td><a class="btn btn-success"
 th:href="@{modifierProject(id=${p.idProject},page=${currentPage},size=${size})}" sec:authorize="hasAuthority('ADMIN')">Editer</a></td>

					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ listeProjects(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>